<template>
<nav class="navbar 
    navbar-dark bg-dark 
    text-uppercase 
    fw-bold">
      <div class="col-sm p-1">
          <div class="navbar-brand 
          animate__animated 
          animate__flip">
              Le-Guichet -|>|-
          </div>
      </div>
      <div v-if="this.analysingIN && this.startButton && this.usb_in.length != 0" class="col-sm">
          <div class="animate__animated animate__flash 
          text-center text-white">
              Do not remove <br>the USB device !
          </div>
      </div>
      <div v-if="this.analysingOUT && this.startButton && this.usb_out.length != 0" class="col-sm">
          <div class="animate__animated animate__flash 
          text-center text-white">
              Do not remove the <br>signed USB device !
          </div>
      </div>
      <div v-if="!this.analysingOUT && this.usb_out.length != 0 && this.filesOUT.length == 0" class="col-sm">
          <div class="animate__animated animate__flash 
          text-center text-white">
              You can remove the <br>signed USB device !
          </div>
      </div>
      <div v-if="!this.analysingIN && this.startButton && !this.analysingOUT && this.usb_out.length == 0" class="col-sm">
          <div class="animate__animated animate__zoomIn
          text-center text-white">
              Please insert a USB device
          </div>
      </div>
      <div v-else-if="!this.analysingIN && !this.startButton && !this.analysingOUT && this.usb_out.length == 0" class="col-sm">
          <div class="animate__animated animate__zoomIn 
          text-center text-light">
              v1.0
          </div>
      </div>
      <div class="col-4">
        <button v-if="!this.menu" @click="this.menu = true" class="send btn btn-info btn-sm shadow animate__animated animate__pulse float-end m-1" type="button">
          ≣
        </button>
        <div v-if="this.menu" class="row mx-auto animate__animated animate__fadeInRight">
          <div class="col-15 mx-auto">
           <div class="d-flex align-items-center justify-content-evenly">
           <div v-if="!this.startButton">
             <button v-if="!this.startButton" @click="this.startButton = true" class="send btn btn-info btn-sm shadow animate__animated animate__pulse p-2 m-1" type="button">Start</button>
          </div>

           <div class="bg-dark float-start">
            <button class="btn btn-info 
              btn-sm text-center
              animate__animated animate__pulse p-2
              rounded m-1" @click="reloadPage">Exit
            </button>
          </div>
          <div v-if="this.StatusIn & this.StatusTransit & this.StatusOut" class="bg-dark float-center">
            <button  class="btn btn-success 
              btn-sm text-center
              rounded p-2 m-1">
              Status
            </button>
          </div>
          <div v-else class="bg-dark float-center">
            <button class="btn btn-danger 
              btn-sm text-center
              rounded p-2 m-1">
              Down
            </button>
          </div>
          <div v-if="this.analysingIN || this.analysingTRANSIT || this.analysingOUT" class="bg-dark float-end">
            <button  class="btn btn-warning 
              btn-sm text-center
              rounded p-2">
              Working
            </button>
          </div>
          <div v-else class="bg-dark float-end">
            <button class="btn btn-success 
              btn-sm text-center
              rounded p-2">
              Waiting
            </button>
          </div>
          <div v-if="this.startButton">
             <button class="btn btn-info shadow btn-sm animate__animated animate__pulse p-2 m-1" @click="this.menu=false, noActivated = false" >≣</button>
           </div>
        </div>
          </div>
        </div>
      </div>
</nav>

<div v-if="!this.startButton" class="text-center m-3 p-3">
  <h2>Sign your trusted USB devices via SSH <br>or visit <br>www.le-guichet.com</h2>
</div>

<div v-if="this.startButton" class="user-select-none">

  <div class="container">
          <div class="row">
            <div v-if="this.usb_in.length != 0" class="col bg-light
            float-md-start border 
            border-5 border-danger 
            rounded text-start
            m-4 shadow usbin">
            <!--If statusIN print ready-->
            <span v-if="!this.analysingIN"> <img src="@/assets/img/ok.svg" style="width:6%"/> <span class="fw-bold">{{this.nameIN}}</span> IS READY<br></span>
            <span v-else> <img src="@/assets/img/null.svg" style="width:6%"/> <span class="fw-bold"> {{this.nameIN}}</span> IS WORKING !<br></span>
            <!--If USB is detected-->
              <ul class="list-group">
                <li class="list-group-item list-group-item-warning animate__animated animate__pulse transparent" v-for="(device, index) in this.usb_in" v-bind:key="index">
                  <span> <img src="@/assets/img/ok.svg" style="width:6%"/> NEW UNTRUSTED USB DEVICE DETECTED: <span class="text-info">{{device}}</span></span>
                </li>
              </ul>
              <span class="animate__animated animate__heartBeat" v-if="this.usb_in.length == 0"> <img src="@/assets/img/null.svg" style="width:6%"/> NO USB DEVICE DETECTED.<br></span>       
            <span v-if="this.analysingIN" class="text-success animate__animated animate__flash"> <img src="@/assets/img/ok.svg" style="width:6%"/> NEW DEVICE SECURELY MOUNTED.<br></span>
            <span v-if="this.analysingIN" class="text-success animate__animated animate__flash"> <img src="@/assets/img/ok.svg" style="width:6%"/> TRANSFERING FILES...<br></span>
            <span v-if="this.filesIN.length != 0"><img src="@/assets/img/ok.svg" style="width:6%"/> NEW UNTRUSTED FILES: <br>
            <ul class="list-group transparent listinsmall m-1">
              <li class="list-group-item list-group-item-warning animate__animated animate__pulse smalllist" v-for="(file, index) in this.filesIN" v-bind:key="index">
                <span> <img src="@/assets/img/warning.png" style="width:5%"/> {{file}}</span>
              </li>
            </ul>
            </span>
            <span v-else> <img src="@/assets/img/null.svg" style="width:6%"/> NO NEW FILE DETECTED.<br></span>
            </div>
<!---->
            <div v-else class="col bg-light
            float-md-start border 
            border-5 border-danger 
            rounded text-start
            m-4 shadow">
            <!--If statusIN print ready-->
            <span v-if="!this.analysingIN"> <img src="@/assets/img/ok.svg" style="width:6%"/> <span class="fw-bold">{{this.nameIN}}</span> IS READY<br></span>
            <span v-else> <img src="@/assets/img/null.svg" style="width:6%"/> <span class="fw-bold"> {{this.nameIN}}</span> IS WORKING !<br></span>
            <!--If USB is detected-->
              <ul class="list-group">
                <li class="list-group-item list-group-item-warning animate__animated animate__pulse" v-for="(device, index) in this.usb_in" v-bind:key="index">
                  <span> <img src="@/assets/img/ok.svg" style="width:6%"/> NEW UNTRUSTED USB DEVICE DETECTED: <span class="text-info">{{device}}</span></span>
                </li>
              </ul>
              <span class="animate__animated animate__heartBeat" v-if="this.usb_in.length == 0"> <img src="@/assets/img/null.svg" style="width:6%"/> NO USB DEVICE DETECTED.<br></span>       
            <span v-if="this.analysingIN && this.usb_in.length != 0" class="text-success animate__animated animate__flash"> <img src="@/assets/img/ok.svg" style="width:6%"/> NEW DEVICE SECURELY MOUNTED.<br></span>
            <span v-if="this.analysingIN && this.usb_in.length != 0" class="text-success animate__animated animate__flash"> <img src="@/assets/img/ok.svg" style="width:6%"/> TRANSFERING FILES...<br></span>
            <span v-if="this.filesIN.length != 0"><img src="@/assets/img/ok.svg" style="width:6%"/> NEW UNTRUSTED FILES: <br>
            <ul class="list-group transparent listinsmall">
              <li class="list-group-item list-group-item-warning" v-for="(file, index) in this.filesIN" v-bind:key="index">
                <span> <img src="@/assets/img/warning.png" style="width:5%"/> {{file}}</span>
              </li>
            </ul>
            </span>
            <span v-else> <img src="@/assets/img/null.svg" style="width:6%"/> NO NEW FILE DETECTED.<br></span>
            </div>
<!---->

            <div v-if="this.usb_out.length != 0" class="col bg-white
             float-md-end
             border border-5 border-success 
             rounded text-start
             m-4 shadow usbout">
             <!--If statusIN print ready-->
             <span v-if="!this.analysingOUT"> <img src="@/assets/img/ok.svg" style="width:6%"/> <span class="fw-bold">{{this.nameOUT}}</span> IS READY.<br></span>
             <span v-else> <img src="@/assets/img/null.svg" style="width:6%"/> <span class="fw-bold">{{this.nameOUT}}</span> IS WORKING !<br></span>
             <span v-if="this.usb_out.length == 0"> <img src="@/assets/img/null.svg" style="width:6%"/> NO SIGNED USB DEVICE DETECTED.<br></span>

             <!--If USB is detected-->
             <ul v-else class="list-group">
               <li class="list-group-item list-group-item-success animate__animated animate__pulse transparent" v-for="(device, index) in this.usb_out" v-bind:key="index">
                 <span> <img src="@/assets/img/ok.svg" style="width:6%"/> NEW SIGNED USB DEVICE DETECTED: <span class="text-info">{{device}}</span></span>
               </li>
             </ul>
             <span v-if="this.analysingOUT"> <img src="@/assets/img/ok.svg" style="width:6%"/> COPYING / SYNCING TO SIGNED DEVICE<br></span>
             <span v-if="this.filesOUT.length != 0"> <img src="@/assets/img/ok.svg" style="width:6%"/>  NEW FILES INCOMING: <br>
             <ul class="list-group">
              <li class="list-group-item 
              list-group-item-success 
              animate__animated animate__fadeInLeft smalllist m-1" v-for="(file, index) in filesOUT" v-bind:key="index">
                <span> <img src="@/assets/img/ok.svg" style="width:5%"/> {{file}}</span>
              </li>
             </ul>
             </span>
             <span v-else> <img src="@/assets/img/null.svg" style="width:5%"/> NO FILE INCOMING.<br></span>
             <span v-if="!this.analysingOUT && this.usb_out.length != 0 && this.filesOUT.length == 0"> <img src="@/assets/img/null.svg" style="width:6%"/> YOU CAN REMOVE YOUR DEVICE. </span> 
             <!--done-->
            </div>
            <div v-else class="col bg-white
             float-md-end
             border border-5 border-success 
             rounded text-start
             m-4 shadow">
             <!--If statusIN print ready-->
             <span v-if="!this.analysingOUT"> <img src="@/assets/img/ok.svg" style="width:6%"/> <span class="fw-bold">{{this.nameOUT}}</span> IS READY.<br></span>
             <span v-else> <img src="@/assets/img/null.svg" style="width:6%"/> <span class="fw-bold">{{this.nameOUT}}</span> IS WORKING !<br></span>
             <span v-if="this.usb_out.length == 0"> <img src="@/assets/img/null.svg" style="width:6%"/> NO SIGNED USB DEVICE DETECTED.<br></span>

             <!--If USB is detected-->
             <ul v-else class="list-group">
               <li class="list-group-item list-group-item-success animate__animated animate__pulse" v-for="(device, index) in this.usb_out" v-bind:key="index">
                 <span> <img src="@/assets/img/ok.svg" style="width:6%"/> NEW SIGNED USB DEVICE DETECTED: <span class="text-info">{{device}}</span></span>
               </li>
             </ul>
             <span v-if="this.analysingOUT"> <img src="@/assets/img/ok.svg" style="width:6%"/> COPYING / SYNCING TO SIGNED DEVICE<br></span>
             <span v-if="this.filesOUT.length != 0"> <img src="@/assets/img/ok.svg" style="width:6%"/>  NEW FILES INCOMING: <br>
             <ul class="list-group ">
              <li class="list-group-item 
              list-group-item-success 
              animate__animated animate__fadeInLeft smalllist m-1" v-for="(file, index) in filesOUT" v-bind:key="index">
                <span> <img src="@/assets/img/ok.svg" style="width:5%"/> {{file}}</span>
              </li>
             </ul>
             </span>
             <span v-else> <img src="@/assets/img/null.svg" style="width:5%"/> NO FILE INCOMING.<br></span>
             <span v-if="!this.analysingOUT && this.usb_out.length != 0 && this.filesOUT.length == 0"> <img src="@/assets/img/null.svg" style="width:6%"/> YOU CAN REMOVE YOUR DEVICE. </span> 
             <!--done-->
            </div>
          </div>
  </div>
</div>

<footer class="bg-dark">
  <div v-if="this.usb_undef != 0" class="bg-dark container fixed-bottom p-0">
    <div class="container text-warning text-center fw-bolder">
      Unregistred device discovered. Contact your administrator to add new devices.
    </div>
  </div>
</footer>

</template>


<script>

export default {
  name: 'app',
//  components: {
//    TopBar
//  },
  data() {
    return {
      startButton: false,
      StatusIn: undefined,
      StatusTransit: undefined,
      StatusOut: undefined,
      noActivated: false,
      nameIN: undefined,
      detectedIN: undefined,
      analysingIN: undefined,
      waitingIN: undefined,
      writingIN: undefined,
      readingIN: undefined,
      filesIN: {},
      doneIN: undefined,
      nameOUT: undefined,
      detectedOUT: undefined,
      analysingTRANSIT: undefined,
      analysingOUT: undefined,
      waitingOUT: undefined,
      writingOUT: undefined,
      readingOUT: undefined,
      filesOUT: {},
      doneOUT: undefined,
      connection: null,
      jsonMsg: null,
      usb_in: [],
      usb_out: [],
      usb_undef: [],
      menu: false
    }
  },
  methods: {

    reloadPage() {
      window.location.reload();
    },
    wsUdev(){
      this.connection_udev = new WebSocket("ws://127.0.0.1:3013")
      this.connection_udev.onopen = function(event){
        console.log(event)
        console.log("Successfully connected to websocket server udev")
      }
      var self = this;
      this.connection_udev.onmessage = function(event){
        console.log(event.data),
        self.usb_in= JSON.parse(event.data).usb_in,
        self.usb_out= JSON.parse(event.data).usb_out,
        self.usb_undef= JSON.parse(event.data).usb_undef
        }
        //console.log(self.usb)
        //Connection error
        this.connection_udev.onerror = function () {
          console.log ("wsUdev: connection error. Reconnecting...");
          this.wsUdev()
        }
        //Connection closed
        this.connection_udev.onclose = function () {
          console.log("wsUdev: connection closed. Reconnecting...")
          this.wsUdev()
        }
        this.connection_udev.onUpdated = function () {
          console.log("wsUdev: connection updated. Reconnecting...")
          this.wsUdev()
        }
    //},
    },
    wsBackend() {
      this.connection_backend = new WebSocket("ws://127.0.0.1:3012")
      this.connection_backend.onopen = function(event){
        console.log(event)
        console.log("Successfully connected to websocket server backend")
      }
      var self = this;
      this.connection_backend.onmessage = function(event){
        //JSON.parse(event.data = JSON.parse(event.data), 
        console.log(event.data),
        //console.log(JSON.parse(event.data).health.In),
        //console.log(JSON.parse(event.data).health.Out),
        self.StatusIn= JSON.parse(event.data).health.status_in,
        self.StatusTransit= JSON.parse(event.data).health.status_transit,
        self.StatusOut= JSON.parse(event.data).health.status_out,
        self.nameIN = JSON.parse(event.data).guichetin.name,
        self.detectedIN = JSON.parse(event.data).guichetin.detected,
        self.waitingIN = JSON.parse(event.data).guichetin.waiting,
        self.analysingIN = JSON.parse(event.data).guichetin.analysing,
        self.writingIN = JSON.parse(event.data).guichetin.writing,
        self.readingIN = JSON.parse(event.data).guichetin.reading,
        self.filesIN = JSON.parse(event.data).guichetin.files,
        self.analysingTRANSIT = JSON.parse(event.data).guichettransit,
        self.doneIN = JSON.parse(event.data).guichetin.done,
        self.nameOUT = JSON.parse(event.data).guichetout.name,
        self.detectedOUT = JSON.parse(event.data).guichetout.detected,
        self.waitingOUT = JSON.parse(event.data).guichetout.waiting,
        self.analysingOUT = JSON.parse(event.data).guichetout.analysing,
        self.writingOUT = JSON.parse(event.data).guichetout.writing,
        self.readingOUT = JSON.parse(event.data).guichetout.reading,
        self.filesOUT = JSON.parse(event.data).guichetout.files,
        self.doneOUT = JSON.parse(event.data).guichetout.done
      }
        //Connection error
        this.connection_backend.onerror = function () {
          console.log ("wsBackend: connection error. Reconnecting...");
          this.wsBackend()
        }
        //Connection closed
        this.connection_backend.onclose = function () {
          console.log("wsBackend: connection closed. Reconnecting...");
          this.wsBackend()
        }
        this.connection_backend.onUpdated = function () {
          console.log("wsBackend: connection updated. Reconnecting...");
          this.wsBackend()
        }
    }
  },
  created() {

      this.wsUdev()
      this.wsBackend()

  },
  onUpdated() {

  }
}

</script>

<style lang="scss">
app, #app {
  background: rgb(255, 255, 255);
  height: 100%;
}
body, html {
  height: 100%;
}

div.message {
  font-size: 80%;
}

li.transparent{
  opacity: 0.50;
}

span.transparent {
  opacity: 0.50;
}

li.smalllist{
  font-size: 68%;
}

ul.list-group{
    max-height: 220px;
    overflow: auto;
}

ul.listinsmall{
    max-height: 140px;
    font-size: 68%;
    overflow: auto;
}

button.space {
  margin-left: 200px;
}

div.usbin {
  animation: rotation 2s infinite linear;
  background-image:
  linear-gradient(to right, rgb(255, 255, 255), rgba(188, 6, 67, 0.5)),
  url("./assets/img/usb.png");
  background-repeat: no-repeat;
  background-position: top right;
}

div.usbout {
  background-image:
  linear-gradient(to right, rgb(255, 255, 255), rgba(86, 248, 86, 0.5)),
  url("./assets/img/usb.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

</style>
